<nav class="navbar navbar-dark navbar-expand-sm">
    <a class="navbar-brand" routerLink="/home">
      Biblioteca
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/agregar-libro" routerLinkActive="active">Agregar libro<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/listar-libros" routerLinkActive="active">Listar libros<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>