<div>
        <tabset>
            <tab heading="Prestamo" id="tab1">
                <form class="text-center border border-light p-5">
                    <div>
                        <label for="isbn">Libro</label>
                        <input type="text" class="form-control" id="ISBN" required name="isbn">
                    </div>
                    <div>
                        <label for="nombre">Usuario Prestamo</label>
                        <input id="nombre" class="form-control" name="nombre">
                    </div>
                    <div>
                        <label for="fecha_prestamo">Fecha prestamo</label>
                        <input id="fecha_prestamo" class="form-control" name="fecha_prestamo">
                    </div>
                    <div>
                            <label for="fecha_entrega">Fecha entrega maxima</label>
                            <input id="fecha_entrega" class="form-control" name="fecha_entrega">
                        </div>
                </form>
    
            </tab>
        </tabset>
    </div>