<div>
    <tabset>
        <tab heading="Agregar libro" id="tab1">
            <form class="text-center border border-light p-5">
                <div>
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" id="ISBN" required name="isbn">
                </div>
                <div>
                    <label for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" name="nombre">
                </div>
                <div>
                    <label for="Autor">Autor</label>
                    <input id="Autor" class="form-control" name="Autor">
                </div>
                <div>
                        <label for="editorial">Editorial</label>
                        <input id="editorial" class="form-control" name="editorial">
                    </div>
            </form>

        </tab>
    </tabset>
</div>